@import './variables';

* {
  box-sizing: border-box;
}

a {
  color: $brand-primary;
  text-decoration: none;

  &:focus,
  &:hover {
    color: $brand-primary;
    text-decoration: underline;
  }
}

blockquote {
  border-left: 4px solid $border-grey;
  padding-left: 10px;
}

body {
  font-family: $font-body;
  font-weight: 300;
  line-height: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-headers;
}

.brand {
  color: $brand-primary;
}
