@import '../../styles/reset';
@import '../../styles/global';
@import '../../styles/variables';

.layout {
  background: url(../../images/interior-1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-height: 100vh;

  &.layout__contact {
    background-image: url(../../images/desk.jpg);
  }

  &.layout__rentals {
    background-image: url(../../images/interior-3.jpg);
  }

  main {
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}
