@import '../../styles/variables';

.section-item {
  display: inline-block;
  max-width: 800px;

  &:last-child {
    margin-bottom: 0;
  }

  svg {
    color: $text-light;
    margin-right: 20px;
    width: 80px !important;
  }

  .section-item-wrapper {
    align-items: top;
    display: flex;
    margin: 0 auto;

    & > * {
      display: inline-block;
      vertical-align: middle;
    }
  }
}

a.section-item {
  color: $text-dark;

  &:hover {
    cursor: pointer;
    text-decoration: none;

    svg {
      color: $text-dark;
    }
  }
}
