@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
@import '../../styles/variables';

.header {
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: $box-shadow;
  display: flex;
  position: fixed;
  width: 100%;

  h1 {
    font-size: 0.9em;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
  }

  .header-text-wrapper {
    display: inline-block;
  }

  .home-link {
    align-items: center;
    box-shadow: none;
    color: $text-dark;
    display: flex;
    text-decoration: none;
  }
}

.navbar {
  border: none;
  border-radius: 0;
  margin-bottom: 0;
  padding: 0;

  .container {
    padding: 0 40px;
    width: 100% !important;
  }

  .navbar-brand {
    padding-left: 10px;

    &:hover {
      color: $brand-primary;
    }
  }

  .navbar-collapse {
    margin-left: auto;
    padding: 0;
  }

  .navbar-collapse.collapsing,
  .navbar-collapse.in {
    border: 0;

    ul {
      display: flex;
      justify-content: center;
      margin: 0;

      li {
        display: inline;

        a {
          padding-top: 10px;
        }
      }
    }

    .navbar-right {
      margin-top: 0;
    }
  }

  .navbar-header {
    padding: 15px 0;
  }

  .navbar-nav {
    > li {
      > a {
        border-bottom: 4px solid $background-white;
        color: $text-dark;
        font-size: 0.8em;
        font-weight: 400;
        padding: 30px 20px 26px 20px;
        text-transform: uppercase;

        &[aria-current='page'] {
          background: none;
          border-color: $brand-primary;
          font-weight: bold;

          &:focus,
          &:hover {
            background: none;
          }

          &:hover {
            color: $brand-primary;
          }
        }

        &:hover {
          color: $brand-primary;
          text-decoration: none;
        }
      }

      > a {
        &:hover {
          color: $brand-primary;
        }
      }
    }
  }

  .navbar-toggle {
    border: 0;
    border-radius: 0;
    margin: 0;
    padding: 33px 0;

    &:focus,
    &:hover,
    &.collapsed {
      background: none;
    }

    &:hover {
      span {
        background-color: $brand-primary;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .navbar {
    .container {
      padding-right: 0;
    }

    .container-fluid > .navbar-collapse,
    .container-fluid > .navbar-header,
    .container > .navbar-collapse,
    .container > .navbar-header {
      margin-left: 0;
      margin-right: 0;
    }

    .navbar-header {
      align-items: center;
      display: flex;
      margin-left: 0;
      margin-right: 0;
      padding: 0;
      width: 100%;

      .navbar-toggle {
        margin-left: auto;
      }
    }
  }
}

@media only screen and (max-width: 469px) {
  .navbar {
    .navbar-collapse.collapsing,
    .navbar-collapse.in {
      ul li a {
        padding-top: 20px;
      }
    }
  }
}
