@import '../../styles/variables';

.section {
  padding: 40px;

  &.section__banner {
    color: $text-white;
    padding: 150px 80px 250px 80px;
    text-align: right;

    button {
      background: rgba(84, 130, 90, 0.8);
      border: 1px solid #ffffff;
      font-size: 0.7em;
      letter-spacing: 1px;
      margin-top: 10px;
      padding: 5px 15px;
      text-transform: uppercase;

      &:hover {
        background: rgba(84, 130, 90, 1);
      }
    }

    h1 {
      font-size: 4em;
      line-height: 1em;
      margin-bottom: 20px;
    }

    p {
      margin-bottom: 10px;
    }
  }

  &.section__flex {
    flex: 1;
  }

  &.section__white {
    background: rgba(255, 255, 255, 1);
  }
}
