@import '../../styles/variables';

.section {
  padding: 40px;

  h2 {
    font-size: 2em;
    line-height: 1em;
    margin-bottom: 10px;
  }

  &.section__banner {
    color: $text-white;
    padding: 150px 80px 300px 80px;
    text-align: right;

    .button {
      background: rgba(84, 130, 90, 0.8);
      border: 1px solid #ffffff;
      color: $text-white;
      display: inline-block;
      font-size: 0.7em;
      letter-spacing: 1px;
      margin-top: 10px;
      padding: 5px 15px;
      text-transform: uppercase;

      &:hover {
        background: rgba(84, 130, 90, 1);
        text-decoration: none;
      }
    }

    h1 {
      font-size: 4em;
      line-height: 1em;
      margin-bottom: 10px;
    }

    p {
      margin-bottom: 10px;
    }
  }

  &.section__center {
    display: flex;
    justify-content: center;
  }

  &.section__flex {
    flex: 1;
  }

  &.section__white {
    background: rgba(255, 255, 255, 1);
  }

  .section-item-list {
    display: inline-block;

    li {
      margin-bottom: 40px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .section {
    padding-left: 20px;
    padding-right: 20px;

    &.section__banner {
      color: $text-white;
      padding-left: 20px;
      padding-right: 20px;
      text-align: center;
    }
  }
}
