@import '../../styles/variables';

.footer {
  background: rgba(51, 51, 51, 1);
  color: $text-light;
  font-size: 0.8em;
  padding: 40px 40px 20px 40px;
  width: 100%;

  &.footer__transparent {
    background: rgba(51, 51, 51, 0.9);
  }

  a {
    color: $text-white;
    text-decoration: none;

    &:hover {
      color: $text-white;
      text-decoration: underline;
    }
  }

  h3 {
    color: $text-white;
    font-size: 0.9em;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  p {
    font-size: 0.9em;
    font-weight: 300;
    margin-bottom: 10px;
  }

  small {
    display: block;
    font-size: 0.8em;
    font-weight: 300;
    text-align: center;
  }

  .footer-section-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}
